@import "../../../styles/global-colors.scss";

/** Header Settings SCSS **/
.settings {
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      .button-icon {
        transform: rotate(120deg);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
      }
    }
  }

  @import "./SettingsContent/styles.scss";
}
