@import "./global-colors.scss";

/** Add Grades Observations SCSS **/
.add-grades-observations {
  .menu-select-form {
    padding-top: 1.25rem;

    ul {
      display: flex;
      justify-content: center;
      gap: 10px;

      li {
        text-decoration: none;
        color: $fonte-principal;
        transition: 0.5s;
        cursor: pointer;

        &::marker {
          font-size: 0px;
        }

        &:hover,
        &.active {
          color: $blue;
        }
      }
    }
  }
}
