@import "./global-colors.scss";

/** AdminInfos SCSS **/
.admin-infos {
  display: flex;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #3b4751;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1025px) {
    width: 800px;
  }

  span {
    font-size: 12px;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  .name {
    h1 {
      font-size: 20px;

      @media (min-width: 1025px) {
        font-size: 24px;
      }
    }
  }
}
