@import "./global-colors.scss";

/** Header SCSS **/
.admin-infos {
  display: flex;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #3b4751;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}
