@import "./global-colors.scss";

/** Teacher and Student Edit SCSS **/
.main.edit {
  .content {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .title {
      text-align: center;
      margin-bottom: 10px;
    }

    form,
    .invalid-id {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      input,
      select {
        width: 100%;

        @media (min-width: 1025px) {
          width: 50%;
        }
      }

      .bottom {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 100%;

        @media (min-width: 1025px) {
          width: 50%;
        }

        button {
          width: 50%;
        }

        .btn.back {
          width: 50%;
        }
      }
    }
  }
}
