@import "global-colors.scss";

/** Global SCSS **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $fonte-principal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;
}

.main {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Input, TextArea, Select */
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

input,
select,
textarea {
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid $blue;
}

input::placeholder {
  color: #666;
}

input:disabled {
  opacity: 0.5;
  border: 1px solid #666;
}

/* Buttons */
button.btn,
a.btn.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: 1px solid $blue;
  background-color: transparent;
  transition: background-color 0.5s;
  font-size: 1rem;
  padding: 5px 25px;
  color: $fonte-principal;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  border: 1px solid $fonte-principal;
  background-color: #f4f4f4;
  opacity: 0.5;
  cursor: default;
}

button.btn:hover:not(button.btn:disabled) {
  background-color: $blue;
}

button.btn.back,
a.btn.back {
  border: 1px solid $red;
  text-decoration: none;
}

button.btn.back:hover,
a.btn.back:hover {
  background-color: $red !important;
}

/* Container */
.container {
  max-width: 1270px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1025px) {
    padding: 0 15px;
  }
}
