@import "global-colors.scss";

/** Global SCSS **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $fonte-principal;
  background-color: $white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: 30px;
  margin-bottom: 30px;
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

input {
  padding: 0 10px;
  border: 1px solid $blue;
}

input::placeholder {
  color: #666;
}

button.btn, input {
  height: 35px;
  border-radius: 3px;
}

button.btn, a.btn.back {
  border: 1px solid $blue;
  cursor: pointer;
  background-color: transparent;
  transition: background-color .5s;
  font-size: 1rem;
  padding: 5px 25px;
  color: $fonte-principal;
  border-radius: 2px;
}

button.btn:hover, a.btn.back:hover {
  background-color: $blue;
}

a.btn.back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1025px) {
    padding: 0 15px;
  }
}
