@import "./global-colors.scss";

/** Header SCSS **/
.header {
  display: flex;
  padding: 1.25rem 0;
  background-color: $blue;
  width: 100%;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .image {
      width: 2rem;
    }

    .text {
      color: $white;
      font-size: 24px;

      @media (min-width: 1025px) {
        font-size: 2rem;
      }
    }
  }

  .settings-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      .button-icon {
        transform: rotate(120deg);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
      }
    }
  }
}
