@import "./global-colors.scss";

/** Modal SCSS **/
.add-button {
  background-color: $blue;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  box-shadow: 0px 7px 10px #ccc;
  cursor: pointer;
}

.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  cursor: pointer;
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modal {
  position: fixed;
  max-width: 500px;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 2;

  .modal-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px #ccc;
    border-radius: 5px;
    max-width: 500px;
    width: 500px;
    background-color: $white;
    gap: 0;

    .header {
      padding: 15px;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .title {
        color: $white;
      }

      .close-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 15px;

      label {
        margin-bottom: 5px;
      }

      input,
      textarea,
      select {
        margin-bottom: 10px;
      }

      textarea {
        min-height: 200px;
      }

      button {
        margin-top: 20px;
      }
    }
  }
}
