@import "./global-colors.scss";

/** Modal SCSS **/
.add-button {
  background-color: $blue;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  @media (min-width: 768px) {
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
  }
}

.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  cursor: pointer;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 1;
}

.modal {
  position: fixed;
  max-width: 500px;
  width: calc(100% - 30px);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 2;

  @media (min-width: 1025px) {
    width: 50%;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 500px;
    width: 500px;
    background-color: $white;
    gap: 0;

    .header {
      padding: 15px;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .title {
        color: $white;
        font-size: 24px;
      }

      .close-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 15px;

      label {
        margin-bottom: 5px;
      }

      input,
      textarea,
      select {
        padding: 10px;
        margin-bottom: 10px;
      }

      textarea {
        min-height: 200px;
      }

      .warning {
        margin-top: 5px;
        font-size: 0.75rem;
        padding: 0 10px 0 0;
        color: $red;
        margin-bottom: 10px;
      }

      button {
        margin-top: 20px;
      }
    }
  }
}
