@import "./global-colors.scss";

/** Route Changer SCSS **/
.route-changer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    width: 50%;
  }

  .title {
    font-size: 20px;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 250px;
      text-decoration: none;

      @media (min-width: 768px) {
        width: 165px;
      }

      &:hover {
        .image {
          transform: scale(0.8);
        }

        .text {
          color: $blue;
        }
      }

      .image {
        transition: 0.3s;
        width: 75px;

        @media (min-width: 768px) {
          width: 100px;
        }
      }

      .text {
        text-align: center;
        color: $fonte-principal;
        transition: 0.3s;
      }
    }

    .middle-text {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
