@import "./global-colors.scss";

/** Settings Modal SCSS **/
.modal.settings-modal {
  width: 90%;
  height: 100vh;
  max-width: 350px;
  transition: 0.5s;
  left: auto;
  top: 0;
  right: 0;
  transform: none;

  @media (min-width: 1025px) {
    width: 350px;
  }

  .modal-content {
    height: 100%;

    form {
      height: 100%;
    }

    .bottom {
      display: flex;
      justify-content: flex-end;
      padding: 15px;
    }
  }
}
