@import "./global-colors.scss";

/** Student Grades SCSS **/
.main.edit {
  .student-grades {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    @media (min-width: 1025px) {
      width: 800px;
    }

    .title {
      width: 100%;
      text-align: left;
      margin-bottom: 0;
    }

    .grade.bad-grade {
      background-color: $red;
    }

    .grade {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $fonte-principal;
      width: 100%;
      position: relative;

      @media (min-width: 768px) {
        width: calc(50% - 5px);
      }

      .delete-button {
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }
  }
}
