@import "../../styles/global-colors.scss";

/** Header SCSS **/
.header {
    display: flex;
    padding: 1.25rem 0;
    background-color: $blue;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @import "./Logo/styles.scss";

    @import "./Settings/styles.scss";
}